/* Header */

#header {
    display: none;
    background-image: url("../images/header.jpg");
    background-repeat: repeat-x;
    height: 100px;
    margin: 0px;
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    font-weight: 800;
    padding-top: 15px;
    color:#adc57c;
    text-shadow: 3px 3px 2px #343148;
}

/* Body & Divs */

body {
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: #A6A99F;
    margin: 0;
    overflow: hidden;
    color: #343148;
    text-align: center;
}

div {
    margin: 0 auto;
    padding: 0;
}

div.wide {
    width: 1350px;
    margin: 25px auto;
}

div.narrow {
    width: 1000px;
}

.page {
    display: none;
}

.col-50, .col-50-c, .col-50-l, .col-50-r {
    float: left;
    width: 50%;
    height: 100%
}

.col-50 {
    text-align: left;
}

div.col-78 {
    float: left;
    width: 78%;
    text-align: right;
}

div.col-22 {
    float: left;
    width: 22%;
    text-align: left;
}

div.col-25 {
    float:left;
    width: 25%;
    margin: 0 2%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Front Page */

#p1 {
    background-image: url("../images/frontpage3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

.noscroll {
    overflow: hidden;
}

/* Texts */

.cursive {
    font-style: italic;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 3vw;
    font-weight: 800;
    color: #adc57c;
    text-shadow: 3px 3px 2px #343148;
    padding-top: 15%;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 2vw;
    margin-bottom: 15%;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 34px;
    font-weight: 700;
    margin: 25px 0;
}

h3.margin {
    margin: 25px 10%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus, a:active {
    color: #ECF0E4;
}

hr {
    color: #343148;
    background-color: #343148;
    border: 0;
    border-radius: 5px;
    height: 1px;
    width: 30%;
    margin-right: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Navigation Menu */

.navpanel {
    background-color: #343148;
    height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav {
    font-family: 'Special Elite', cursive;
    color: #adc57c;
    font-size: 22px;
    background-color: #343148;
    border: 0;
    border-radius: 8px 8px 0 0;
    height: 37px;
    padding: 0 20px;
    margin-top: 3px;
}

.nav:hover {
    color: #DDE0D6;
}

.active, .active:hover {
    color: #343148;
    text-shadow: 1px 0 1px;
    background-color: #A6A99F;
}

/* Gallery & Images */

#shown {
    width: 1000px;
    margin-right: 20px;
    border-radius: 10px;
}

img.thumb {
    width: 130px;
    height: 87px;
    border-radius: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    border: solid 2px #A6A99F;
}

img.thumb:hover {
    border: solid 2px #343148;

}

img.medium {
    width: 420px;
    height: 294px;
    border-radius: 10px;
    margin-top: 25px;
}

.border {
    width: 400px;
    height: 300px;
    border: solid 2px #8C8F85;
    border-radius: 10px;
    margin-top: 25px;
}

/* Icons */

.icon {
    height: 30px;
}

.icon-s {
    height: "15px";
    margin-bottom: -3px;
}

/* Forms */
form {
    margin-left: 10%;
}

label {
    font-size: 16px;
}

input, select, textarea, #submit {
    box-sizing: border-box;
    margin-bottom: 5px;
    height: 28px;
    width: 50%;
    border-radius: 6px;
    font-size: 16px;
    background-color: #DDE0D6;
    border: 2px solid #8C8F85;
}

#submit {
    width: 20%;
    background-color: #8C8F85;
    filter: drop-shadow(1px 1px 1px #343148)
}

#submit:hover {
    filter: brightness(90%) drop-shadow(1px 1px 1px #343148)
}

#submit:active {
    filter: brightness(70%);
}

textarea:focus, input:focus, select:focus {
    outline: none !important;
    border: 2px solid #adc57c;
}

textarea {
    height: 200px;
    resize: none;
}

/* Paint Testing Area*/
div.paint {
    width: 1296px;
    height: 540px;
}

#paint-top {
    height: 34%;
}

#paint-bottom {
    height: 66%;
}

#right-top {
    border-top-right-radius: 8px;
}

#left-top {
    border-top-left-radius: 8px;
}

#right-bot {
    border-bottom-right-radius: 8px;
}

#left-bot {
    border-bottom-left-radius: 8px;
}

/* Image & Text for Paint Testing */

.col-50-l img, .col-50-r img {
    display: block;
    width: 648px;
    height: 360px;
}

.col-50-l img {
    border-bottom-left-radius: 8px;
}

.col-50-r img {
    border-bottom-right-radius: 8px;
}

.wall-text {
    padding-top: 15%;
    display: inline-block;
    filter: brightness(70%);
    font-size: 22px;
    font-family: 'Special Elite', cursive;
}

/* Resizing for Smaller Screens */

/* @media (max-width: 1920px) and (min-width: 1081px) {


    .paint {
        width: 1080px;
        height: 420px;
    }
    
    .col-50-l img, .col-50-r img {
        display: block;
        width: 540px;
        height: 300px;
    }
}

@media (max-width: 1080px) and (min-width: 601px) {
    .bg {
        width: 450px;
    }

    .paint {
        width: 720px;
        height: 200px;
    }

    .col-50-l img, .col-50-r img {
        width: 180px;
        height: 120px;
    }

    .from-top {
        padding: 23px 0;
        font-size: 12px;
    }
}

@media (max-width: 1080px) and (min-width: 601px) {
    .bg {
        width: 450px;
    }

    .paint {
        width: 360px;
        height: 170px;
    }

    .col-50-l img, .col-50-r img {
        width: 180px;
        height: 120px;
    }

    .from-top {
        padding: 23px 0;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    /* .bg {
        width: 315px;
    }

    .paint {
        width: 252px;
        height: 119px;
    }

    .col-50-l img, .col-50-r img {
        width: 126px;
        height: 84px;
    }

    .from-top {
        padding: 16px 0;
        font-size: 10px;
    }
} */

/* Color Pallette */

#c01 { background-color: #DD4132}
#c02 { background-color: #9E1030}
#c03 { background-color: #FE840E}
#c04 { background-color: #FF6F61}
#c05 { background-color: #C62168}
#c06 { background-color: #8D9440}
#c07 { background-color: #FFD662}
#c08 { background-color: #00539C}
#c09 { background-color: #755139}
#c10 { background-color: #D69C2F}
#c11 { background-color: #616247}
#c12 { background-color: #E8B5CE}
#c13 { background-color: #D2C29D}
#c14 { background-color: #343148}
#c15 { background-color: #F0EAD6}
#c16 { background-color: #615550}

button.c {
    width: 60px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    filter: drop-shadow(1px 1px 1px);
    margin: 3px;
    font-size: 0;
}

button.c:hover {
    filter: brightness(90%) drop-shadow(1px 1px 1px);
}

button.c:active {
    filter: brightness(70%);
}

/* .pallette {
    width: 600px;
    background-color: #484762;
    border-radius: 8px;
    text-align: center;
    padding: 10px 0;
} */