/* Header */

#header {
    display: none;
    background-image: url("../images/header.jpg");
    background-repeat: repeat-x;
    height: 100px;
    margin: 0px;
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-top: 15px;
    color:#adc57c;
    text-align: center;
    text-shadow: 3px 3px 2px #343148;
}

.page {
    display: none;
}

.border {
    width: 600px;
    height: 420px;
    border: solid 3px #343148;
    border-radius: 10px;
    margin-top: 25px;
}

/* Body & Divs */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #A0A98E;
    margin: 0;
    overflow: hidden;
    color: #343148;
}

.bg {
    width: 1300px;
    margin: 25px auto;
}

div {
    margin: 0 auto;
    padding: 0;
}

.col-50, .col-50-l, .col-50-r {
    float: left;
    width: 50%;
    text-align: center;
}

.col-50 {
    text-align: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Front Page */

#p1 {
    background-image: url("../images/frontpage3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

.noscroll {
    overflow: hidden;
}

/* Headlines & Links */

h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 3vw;
    font-weight: 800;
    color: #adc57c;
    text-shadow: 3px 3px 2px #343148;
    padding-top: 15%;
}

h2 {
    font-style: italic;
    font-weight: 500;
    font-size: 2vw;
}

h3 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus, a:active {
    color: #ECF0E4;
}

/* Navigation Menu */

.navpanel {
    background-color: #343148;
    height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav {
    font-family: 'Special Elite', cursive;
    color: #D0D4C8;
    font-size: 22px;
    background-color: #343148;
    border: 0;
    border-radius: 8px 8px 0 0;
    height: 37px;
    padding: 0 20px;
    margin-top: 3px;
}

.nav:hover {
    color: #ECF0E4;
}

.active, .active:hover {
    color: #343148;
    text-shadow: 1px 0 1px;
    background-color: #A0A98E;
}

/* Icons */

.icon {
    height: 25px;
}

.icon-s {
    height: "15px";
    margin-bottom: -3px;
}

/* Gallery */

.gallery {
    width: 1080px;
    height: 650px;
    border: 0;
    display: block;
    margin: 0 auto;
}

.large {
    width: 800px;
}

.thumb {
    width: 100px;
}

/* Paint Testing */
.paint {
    width: 1440px;
    height: 560px;
}

#right-top {
    border-top-right-radius: 8px;
}

#left-top {
    border-top-left-radius: 8px;
}

#right-bot {
    border-bottom-right-radius: 8px;
}

#left-bot {
    border-bottom-left-radius: 8px;
}

/* Image & Text for Paint Testing */

.col-50-l img, .col-50-r img {
    display: block;
    width: 720px;
    height: 400px;
}

.col-50-l img {
    border-bottom-left-radius: 8px;
}

.col-50-r img {
    border-bottom-right-radius: 8px;
}

.wall-text {
    padding-top: 95px;
    display: inline-block;
    filter: brightness(70%);
    font-size: 22px;
    font-family: 'Special Elite', cursive;
}

/* Resizing for Smaller Screens */


@media (max-width: 1920px) and (min-width: 1081px) {


    .paint {
        width: 1080px;
        height: 420px;
    }
    
    .col-50-l img, .col-50-r img {
        display: block;
        width: 540px;
        height: 300px;
    }
}

@media (max-width: 1080px) and (min-width: 601px) {
    .bg {
        width: 450px;
    }

    .paint {
        width: 720px;
        height: 200px;
    }

    .col-50-l img, .col-50-r img {
        width: 180px;
        height: 120px;
    }

    .from-top {
        padding: 23px 0;
        font-size: 12px;
    }
}

@media (max-width: 1080px) and (min-width: 601px) {
    .bg {
        width: 450px;
    }

    .paint {
        width: 360px;
        height: 170px;
    }

    .col-50-l img, .col-50-r img {
        width: 180px;
        height: 120px;
    }

    .from-top {
        padding: 23px 0;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    /* .bg {
        width: 315px;
    } */

    .paint {
        width: 252px;
        height: 119px;
    }

    .col-50-l img, .col-50-r img {
        width: 126px;
        height: 84px;
    }

    .from-top {
        padding: 16px 0;
        font-size: 10px;
    }
}

/* Color Pallette */

#c01 { background-color: #DD4132}
#c02 { background-color: #9E1030}
#c03 { background-color: #FE840E}
#c04 { background-color: #FF6F61}
#c05 { background-color: #C62168}
#c06 { background-color: #8D9440}
#c07 { background-color: #FFD662}
#c08 { background-color: #00539C}
#c09 { background-color: #755139}
#c10 { background-color: #D69C2F}
#c11 { background-color: #616247}
#c12 { background-color: #E8B5CE}
#c13 { background-color: #D2C29D}
#c14 { background-color: #343148}
#c15 { background-color: #F0EAD6}
#c16 { background-color: #615550}

button.c {
    width: 60px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    filter: drop-shadow(1px 1px 1px);
    margin: 3px;
    font-size: 0;
}

button.c:hover {
    filter: brightness(90%) drop-shadow(1px 1px 1px);
}

button.c:active {
    filter: brightness(70%);
}

.pallette {
    width: 600px;
    background-color: #484762;
    border-radius: 8px;
    text-align: center;
    padding: 10px 0;
}